<footer>
<p>
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-whatsapp"></a>
    <a href="#" class="fa fa-instagram"></a>
    <a href="#" class="fa fa-twitter"></a>
</p>

<br>
<div class="container">
    <div class="row">
    <div class="col-md-12 col-sm-12">
        <div style="color:#ffffff;" class="wow fadeInUp footer-copyright">
        <p>Made in India <br>
            Copyright &copy; 2024 Annapurna </p>
        </div>
    </div>
    </div>
</div>
</footer>