<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/studen-card.css">
  <link rel="stylesheet" href="/css/admin.css">
  <link rel="stylesheet" href="/css/nav.css">
  <link href="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
{{>header}}
<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4">Hello, Admin</h1>
  <p class="lead">Welcome to Online School Management System.</p>
  <hr class="my-4">
  <p>You can access various features after Login/SignUp.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="adminsignup" role="button">SignUp</a>
    <a class="btn btn-primary btn-lg" href="adminlogin" role="button">Login</a>
  </p><br><br><br><br><br><br><br>
</div>

 <footer>
    {{>footer}}
  </footer>

</body>

</html>