<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/studen-card.css">
  <link rel="stylesheet" href="/css/admin.css">
  <link rel="stylesheet" href="/css/nav.css">
  <link href="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">


<body>

  <input type="checkbox" id="check">
  <!--header area start-->
  <header>
    <label for="check">
      <i class="fas fa-bars" id="sidebar_btn"></i>
    </label>
    <div class="left_area">
      <h3>School Management</h3>
    </div>
    <div class="right_area">
      <a href="/logout" class="logout_btn">Logout</a>
    </div>
  </header>
  <!--header area end-->
  <!--sidebar start-->
  <div class="sidebar">
    <center>

      <img src="/images/admin.png" class="profile_image" alt="">
      <h4>{{request.user.first_name}}</h4>

    </center>

    <a href="/admin-dashboard"><i class="fas fa-desktop"></i><span>Dashboard</span></a>
    <a href="/admin-teacher"><i class="fas fa-chalkboard-teacher"></i><span>Teacher</span></a>
    <a href="/admin-student"><i class="fas fa-user-graduate"></i><span>Student</span></a>
    <a href="/admin-attendance"><i class="fas fa-address-card"></i><span>Attendance</span></a>
    <a href="/admin-fee"><i class="fas fa-search-dollar"></i><span>Fee</span></a>
    <a href="/admin-notice"><i class="fas fa-bullhorn"></i><span>Notice</span></a>


  </div>
  <!--sidebar end-->


  <!--content start-->
  <div class="content">
    <br><br><br><br><br>

    <br><br><br>
    {{>footer}}
  </div>
 

</body>
</html>
